
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
margin: 0%;
cursor:default;
background-image: url("images/background.jpg");

}

a {

}

a:hover {

}

a:visited {

}

p {

}

h1 {

}

h4 {
    text-shadow: 1px 1px 3px #000000;

}

article {
    max-width: 210px;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    padding-left: 50px;
    text-shadow: 1px 1px 3px #000000;
}

.aboutme-container {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    border: 0px solid red;
}

.aboutme-headline {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    border: 0px solid red;
    padding: 0px;
    margin: -50px;
}

.aboutme-text {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-indent: 30px;
    border: 0px solid red;
    max-width: 70%;
    padding: 0%;
}

.things-container {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 0px;
    border: 0px solid red;
}

.isaac {
    max-width: 250px;
    border: 0px solid red;
    margin: 0%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

.isaac:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    word-break:normal;
    border: 0px solid red;
    
}

.thumbnails {
    max-width: 200px;
    border-radius: 15px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    
}

.thumbnails:hover {
    max-width: 200px;
    border-radius: 15px;
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
}

.contactme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 3px #000000;
    margin-top: 100px;
    border: 0px solid red;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-indent: 30px;
    border: 0px solid red;
    padding: 30;
    margin: 0px;
}

.contact-icons {
    max-width: 50px;
    padding: 20px;
    /* box-shadow: 1px 1px 3px #000000; */
}
